<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
			
				<h1 class="text-primary">Welcom to AGBADEV</h1>
				<h3>Just a test page for the "/" home endpoint</h3>
			</div>
		</div>
	</div>
</div>
